[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
gunicorn = "*"
psycopg2-binary = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"

[requires]
python_version = "3.7"
